snippet matho
	\$\$$1\$\$$0

snippet math
	\$$1\$$0

snippet frac
	\frac{$1}{$2}$0

snippet sqrt
	\sqrt{$1}$0

snippet vec
	\vec{$1}$0

snippet lim
	\lim_{$1 \to $2}$0

snippet big
	\Big[$1]$0

snippet dydx
	\frac{dy}{dx}$0

snippet int
	\int_{$1}^{$2}$0

snippet bold
	\boldsymbol{$1}$0

snippet text
	\textrm{$1}$0
